<card cardTitle="Colaboradores cadastrados">
<button class="btn btn-outline-secondary float-right m-3" (click)="create()">Cadastrar novo colaborador</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Linha </th>
            <td mat-cell *matCellDef="let element; let i = index;"><strong>#{{i+1}}</strong></td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Latitude -->
        <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef> Latitude</th>
            <td mat-cell *matCellDef="let element"> {{element.latitude}}</td>
        </ng-container>

        <!-- Longitude -->
        <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef> Longitude</th>
            <td mat-cell *matCellDef="let element"> {{element.longitude}}</td>
        </ng-container>

        <!-- Longitude -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> Cidade</th>
            <td mat-cell *matCellDef="let element"> {{element.city}}</td>
        </ng-container>

        <!-- Routers -->
        <ng-container matColumnDef="router">
            <th mat-header-cell *matHeaderCellDef> Editar</th>
            <td mat-cell *matCellDef="let element">
                <button class="btn btn-outline-secondary" (click)="edit(element)" mat-raised-button>
                    <img src="assets/iconfonts/edit.svg"
                        width="20px">
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</card>
