<div class="card animated fadeIn">
  <div class="card-header" *ngIf="cardTitle">
    <h4 class="card-title">{{cardTitle}}</h4>
    <div class="btn-group" *ngIf="cardTitle&&(titleNavigate || backButton)">
      <button class="btn btn-primary btn-card float-right btn-sm" (click)="navigate()">
        {{(titleNavigate && !backButton ? titleNavigate : 'Voltar')}}
      </button>
    </div>
  </div>
  <div class="content-wrap">
    <div class="card-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
