<card [cardTitle]="title" [navigate]="back.bind(this)" backButton="true">

  <form class="container" [formGroup]="collaboratorForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="name">
      <mat-error *ngIf="f.name.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" min="1" matInput placeholder="Latitude" formControlName="latitude">
      <mat-error *ngIf="f.latitude.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="number" min="1" matInput placeholder="Longitude" formControlName="longitude">
      <mat-error *ngIf="f.longitude.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Cidade" formControlName="cityId">
        <mat-option *ngFor="let city of (cities| async)" [value]="city.id">
          {{city.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="f.cityId.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <button class="btn btn-primary float-right mt-2" type="submit" [disabled]="collaboratorForm.invalid">{{id
      == undefined ? 'Cadastrar' : 'Atualizar'}}</button>
  </form>
</card>