tr > th::first-letter {
    text-transform:capitalize;
}

table {
    margin-bottom: 0;
}

.card-content {
    padding: 0 !important;
}

.page-item {
    .page-link-disabled{
      color: #666666;
    }
}